@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

body {
  margin: 0;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-custom-purple {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.btn-custom-purple:hover {
  color: #fff;
  background-color: #6a1b9a; /* darker shade of purple */
  border-color: #6a1b9a; /* darker shade of purple */
}

.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: purple;
}
.signup,
.signup a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.signup a {
  color: purple;
}
